# Caches Python
__pycache__/
*.py[cod]
*.pyd

# Environnements virtuels
venv/
env/

# IDEs
.idea/
.vscode/

# Fichiers de logs ou résultats intermédiaires
*.log
log/
resultats/

# Dossiers spécifiques à ton projet à ne pas inclure dans l’image
ServeurFlaskHost/recordings/
ServeurFlaskHost/received_audio/

# Fichiers temporaires système
.DS_Store
Thumbs.db
