# Caches Python
__pycache__/
*.py[cod]
*.pyd

# Environnements virtuels
venv/
env/

# IDEs
.idea/
.vscode/

# Fichiers de logs ou résultats intermédiaires

log/
resultats/

# Dossiers spécifiques à ton projet à ne pas inclure dans l’image
ServeurFlaskHost/recordings/
ServeurFlaskHost/received_audio/

# Fichiers temporaires système
.DS_Store
Thumbs.db

.git
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
.tox
*.log
*.tmp
Dockerfile
docker-compose.yml
.gitlab-ci.yml
.gitignore
.dockerignore
.env
.idea
.vscode